<span>[</span>

<div class="json-form-array-add-item" ng-click="addArrayItem(param, subform)"></div>

<div class="json-form-block" ng-repeat="(id, val) in subform track by id">
  <div ng-if="subform[id] !== undefined">
    <div class="json-form-array-remove-item" ng-click="removeArrayItem(id, subform)"></div>
    <div ng-style="{'margin-left': 20+$index+'px', 'display': 'inline-block'}">
      <span ng-if="param.parameters">
        <span ng-init="arrayform = subform[id]"></span>
        <div>{</div>
        <div class="json-form-block" ng-include src="'templates/json-form-partials/array-items/complex-item.html'"></div>
        <div>}</div>
      </span>
      <span ng-if="!param.parameters">
        <span ng-include src="'templates/json-form-partials/array-items/simple-item.html'"></span>
      </span>
    </div>
  </div>
</div>

<span ng-style="{'margin-left': $index+'px'}">]</div>